@font-face{
    font-family: Canterbury;
    src: url("Canterbury.ttf");
}

html{
    scroll-behavior: smooth;
} 
*{
    padding: 0; margin: 0; box-sizing: border-box;
}
.up{
    background-color: whitesmoke;
    border-bottom: blue 3px dashed;
    
    
}
.heading{
    font-family: Canterbury;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    color: blue;
    text-shadow: grey 3px 1px;

    

}
/* heading ends  */

/* navbar starts  */
.navbar{
    background: rgb(73,153,195)!important;
    background: linear-gradient(20deg, rgba(73,153,195,1) 28%, rgba(11,34,101,1) 56%, rgba(23,90,117,1) 77%)!important;
    margin-top: 10px!important;
    /* background-color: #004481!important; */
}
.navbar-nav  {
    text-align: right!important;
    justify-content: right!important;
    float: right!important;
    /* margin-left: 25%!important; */
}
.navbar-nav li{
    padding-left:  20px!important;
}

.navbar-text a{
    color: white!important;
    font-weight: bold!important;
    text-transform: uppercase;
    border-top: whitesmoke 1px solid;
    border-radius: 50px;
    justify-content: center;
}
.d a{
    color: blue!important;
    
}


.navbar-text a:hover{
    color: yellowgreen!important;
    font-size: 15px;
    border-bottom: blue 1px solid;
    border-radius: 50px;
}
.fa-user-circle-o{
    color: yellowgreen!important;
    font-size: 30px;
}

/* navbar ends  */

/* slider starts */
.slider{
    margin-top: 10px!important;
    padding: 0!important;
  
   
}
.carousel-item img{
    width: 500px;
    height: 600px;
    border: blue 3px solid;
    border-radius: 10px;
}
.marq{
    margin-top: 5px;
    background: rgb(73,153,195);
background: linear-gradient(20deg, rgba(73,153,195,1) 28%, rgba(11,34,101,1) 56%, rgba(23,90,117,1) 77%);
   
   

}
.marq h1{
    margin-top: 0px;
    font-family: Canterbury;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    color: white;
    text-shadow: grey 3px 1px;

    
}
.marq marquee{
    margin-top: 5px;
    text-align: center;
    
    line-height: 2.5rem;
    color: white;
    font-weight: 400px;
}

/* card in line start */

h3{
    color: blue;
    text-transform: capitalize;
    font-family: Canterbury;
}

.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


}
.fa-comment-o , .cap , .fa-thumbs-up{
    font-size: 50px!important;
    margin-right: 10px;
    color: blue !important;
}
.card1 , .card2 , .card3{
    display: flex;
    width: 300px;
    height: 80px;
    /* background: rgb(54,100,214);
background: linear-gradient(0deg, rgba(54,100,214,1) 4%, rgba(216,79,197,0.7371323529411764) 42%, rgba(22,20,16,1) 76%); */
background: rgb(211,214,174);
background: radial-gradient(circle, rgba(211,214,174,1) 0%, rgba(148,233,149,1) 100%);
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;

}


/* main card section starts */

.cardsec{
    margin-top: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(239deg, rgba(255,255,255,1) 33%, rgba(104,170,241,1) 74%, rgba(167,232,8,1) 100%);
  
}

.intro-heading {
    color: whitesmoke;
    text-transform: capitalize;
    text-align: left;
    margin-left: 9%;
    font-family: Canterbury;
    line-height: 10px;
    margin-top: 20px;
   
}
.build{
    color: white;
    text-transform: capitalize;
    text-align: left;
    
    font-family: Canterbury;
    line-height: 10px;
    margin-top: 20px;
   
}
.intro-heading h1{
    padding-top: 25px;
}


.card{
    width: 250px !important;
    height: 250px!important;
    margin-bottom: 25px;
    border-radius: 15px!important;
    justify-content: space-around!important;
    align-items: center!important;
    margin-left: 50px!important;
    margin-right: 50px!important;
    background: rgb(251,244,244);
    background: radial-gradient(circle, rgba(251,244,244,1) 19%, rgba(223,232,8,1) 100%);
  transition: 0.6s ease;
}
.cardimg{
    padding-top: 25px;
    font-size: 60px;
    color: black;
   
}
.btn-primary , .d-fghd{
   text-align: center!important;
   align-items: center!important;
  margin-left: 19%;
   margin-top: 20px!important;
   color: black!important;
   font-weight: bolder;
   background-color: whitesmoke!important;
}
.c-crousal{
    border: 1px solid blue;
}

.c-img img{

    width: 150px!important;
    height: 200px!important;
    border: 1px solid black;
    border-radius: 10px;
}
.card:hover{
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.3);
	transform:translateY(-20px);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
/* 

/* message starts  */

.message{
    background: rgb(204,206,225);
background: linear-gradient(9deg, rgba(204,206,225,1) 25%, rgba(248,250,250,1) 50%);
    margin-top: 15px;
}
.message h1{
    color: blue;
    text-transform: capitalize;
    text-align: center;
    font-size: 60px;
  
    font-family: Canterbury;
    line-height: 10px;
    margin-top: 50px;
   
}
.message p{
    margin-top: 55px;
    justify-content: center;
    color: blue;
    font-size: 20px;
    line-height: 25px;
}




/* footer starts */

footer{
    margin-top: 15px;
	width: 100%;
	height: auto;
	background: rgb(236,238,244);
background: linear-gradient(0deg, rgba(236,238,244,1) 18%, rgba(19,38,82,1) 100%);
	color:blue;
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size:15px;
}

.left-part{
    margin:90px 20px;


}
.list p{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
	font-size:14px;
	font-weight: 400;
	text-align: left;



}
ul{
	text-decoration: none;
	list-style: none;

}
.list ul li{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	font-size:14px;
	color: blue;

}
.list ul li i{
    font-weight: 500;
    color:green;
    padding:2%;

}

.useful h5{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
	border-bottom:  2px solid #bbb;
	margin-top:30px;
	font-weight: bolder;
    color:blue;
    margin-top: 70px;



}
.contact{
	margin-top:40px;
	font-weight: bolder;
	color:blue;
	font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    padding-left: 50px;
    margin-top: 70px;



}
.contact1{
	margin:40px 3px;
	
}
.contact1 i{
    padding: 1%;
	background-color:#316DC3;
	color:blue;
	border-radius: 50%;
}

.bnt{
    color: blue;
    font-size: 30px;
    padding: 10px;
    border: blue 3px dotted;
    border-radius: 10px;
    background-color: yellowgreen;

}


@media screen and (max-width: 763px){
    .marq{
        width: 100vh!important;

    }
      
        .card1 , .card2 , .card3{
            width: 100%;
        }
        .card{
            align-items: center;
            text-align: center;
           margin-left: 25%!important;
        }
}
